@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.Models.Picture

@{
    ViewData["Title"] = Localizer["TitlePage"];
}

    <h1>@ViewData["Title"]</h1>

    <h3>@Localizer["Delete"]</h3>
<div>
    <h4>@Localizer["Picture"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Picture"]
        </dt>
        <dd class="col-sm-10">
            <img class="img-fluid" src="@(ViewData["URLAPI"] + Model.PictureView)" alt="Alternate Text" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PictureId" />
        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back"]</a>
    </form>
</div>
