@model mvc.Models.AspNetUser

@{
    ViewData["Title"] = "Details";
}

@if(ViewData["Account"] != null && ViewData["Account"].Equals("NOK"))
{
    <div class="alert-warning">
        <p> Veuillez modifier votre profil pour qu'il vous corresponde</p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
}

<h1>Details</h1>

<div>
    <h4>AspNetUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corpulence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Corpulence.CorpulenceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HairColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HairColor.HairColorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HairSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HairSize.HairSizeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexe.SexeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexuality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexuality.SexualityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Religion.ReligionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserStyles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserStyles.Single(d => d.Id == model.Id).Style.StyleName)
            <a asp-action="EditStyle" asp-route-id="@Model.Id">Edit Style</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="GetUserInfoInJson">Get Personal Data</a> |
    <a asp-action="Delete">Delete</a>
</div>
<div>
    <a asp-controller="UserSubscriptions" asp-action="Index">Voir mon type d'abonnement</a>
</div>
<div>
    <a asp-controller="Pictures" asp-action="Index">Voir mes images de profils</a>
</div>
@*<div>
    @foreach (var item in Model.Pictures)
    {
        <img class="img-fluid" src="@(ViewData["URLAPI"] + item.PictureView)" alt="Alternate Text" />
    }
</div>*@
