@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<mvc.Models.Corpulence>

@{
    ViewData["Title"] = Localizer["TitlePage"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorpulenceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CorpulenceName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CorpulenceId">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.CorpulenceId">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.CorpulenceId">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
