@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.Models.AspNetUser
@{
    ViewData["Title"] = Localizer["TitlePage"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>@Localizer["Message"] @Model.NormalizedUserName ?</p>
<form asp-action="GiveNewPassword">
    <div class="form-group">
        <input type="submit" value=@Localizer["Send"] class="btn btn-primary" />
    </div>
</form>

<a asp-action="Details" asp-route-id="@Model.Id">@Localizer["Back"]</a>