@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.ViewModels.Admin.SearchModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = Localizer["TitlePage"];
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <p>
            @using (Html.BeginForm("Search", "Admin", FormMethod.Get))
            {

            <b>@Localizer["Title1"]</b>
                @Html.TextBox("username")<input type="submit" value="Search" id="UserName"
                                                name="UserName" />

            }
        </p>


        @if (Model != null)
        {

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Localizer["UserName"]
                        </th>
                        <th>
                            @Localizer["Email"]                     
                        </th>
                        <th>
                            @Localizer["EmailConfirmed"]
                        </th>
                        <th>
                            @Localizer["PhoneNumber"]
                        </th>
                        <th>
                            @Localizer["PhoneNumberConfirmed"]
                        </th>
                        <th>
                            @Localizer["QuizCompleted"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.EmailConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.PhoneNumberConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.QuizCompleted)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
                            <a asp-action="Details" asp-route-id="@Model.Id">@Localizer["Details"]</a> |
                            <a asp-action="Delete" asp-route-id="@Model.Id">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        }
    </div>

</div>
<!-- /.container-fluid -->
