@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.Models.ContactRequest

@{
    ViewData["Title"] = Localizer["TitlePage"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@ViewData["Title"]</h1>

    <h3>@Localizer["Message"]</h3>
<div>
    <h4>@Localizer["ContactRequest"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestText)
        </dd>

    </dl>
    <div>
        @foreach (AnswerRequest answer in Model.AnswerRequests)
        {
            <p>@answer.AnswerId @answer.AnswerText  @answer.AnswerDate</p>
        }
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="RequestId" />
        <input type="submit" value=@ViewData["Title"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back"]</a>
    </form>
</div>
