@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["TitlePage"];
}

<h1>@ViewData["Title"]</h1>
<partial name="PartAds" />
<p>@Localizer["Message1"] </p>
<p>@Localizer["Message2"]</p>
<a class="btn-link" asp-area="" asp-controller="Matching" asp-action="Matching">@Localizer["Preferences"]</a>
<br />

<p>@Localizer["Message3"]</p>
<a class="btn-link" asp-area="" asp-controller="Quiz" asp-action="Quiz">@Localizer["Quiz"]</a>

