@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["TitlePage"];
}

<h1>@ViewData["Title"]</h1>
@if (ViewData["UserList"] == null)
{
<p>@Localizer["Null"]</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["FirstName"]
                </th>
                <th>
                    @Localizer["Email"]
                </th>
                <th>
                    @Localizer["Age"]
                </th>
                <th>
                    @Localizer["Details"]
                </th>
                <th>
                    @Localizer["Choice"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (AspNetUser user in ViewData["UserList"] as List<AspNetUser>)
            {
                <tr>
                    <td>
                        @user.Firstname
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @{
                            int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
                            int dob = int.Parse(user.Birthday.ToString("yyyyMMdd"));
                            int age = (now - dob) / 10000;
                        }
                        @age
                    </td>
                    <td>
                        <form asp-route="Search" method="post">
                            <input type="hidden" name="username" value="@user.UserName" />
                            <button class="btn btn-secondary" asp-action="Details">@Localizer["SeeAccount"]</button>
                        </form>
                    </td>
                    <td>
                        <form asp-route="Search" method="post">
                            <input type="hidden" name="username" value="@user.UserName" />
                            <button type="submit" asp-action="UnLike" class="btn-secondary">@Localizer["Unlike"]</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

