@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using mvc.ViewModels;
@{
    ViewData["Title"] = Localizer["TitlePage"];
}

<h1>@ViewData["Title"]</h1>
@if (ViewData["HasSubscription"] != null)
{
    if (!(bool)ViewData["HasSubscription"])
    {
<a class="btn btn-block btn-primary" asp-controller="UserSubscriptions" asp-action="Index">@Localizer["Subscription"]</a>
    }
}

@if (ViewData["Search"] == null)
{
<p>@Localizer["Null"]</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["User"]
                </th>
                <th>
                    @Localizer["ProfilType"]
                </th>
                <th>
                    @Localizer["Age"]
                </th>
                <th>
                    @Localizer["Sexe"]
                </th>
                <th>
                    @Localizer["Details"]
                </th>
                <th>
                    @Localizer["Choice"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (MatchingModel user in ViewData["Search"] as List<MatchingModel>)
            {
                <tr>
                    <td>
                        @user.Firstname
                    </td>
                    <td>
                        @user.Profil
                    </td>
                    <td>
                        @user.Age
                    </td>
                    <td>
                        @user.Sexe
                    </td>
                    <td>
                        <form asp-route="Search" method="post">
                            <input type="hidden" name="username" value="@user.UserName" />
                            <button class="btn btn-secondary" asp-action="Details">@Localizer["SeeAccount"]</button>
                        </form>
                    </td>
                    <td>
                        <form asp-route="Search" method="post">
                            <input type="hidden" name="username" value="@user.UserName" />
                            <button class="btn btn-secondary" asp-action="Like">@Localizer["Like"]</button>
                        </form>
                        @*<button class="btn btn-secondary" asp-page-handler="UnLike" asp-route-id="@item.UserName">Unlike</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<form method="post" asp-route="Search">
    <div class="form-group">
        <button class="btn-primary btn-lg" asp-action="Search">@Localizer["SoulMate"]</button>
    </div>
</form>
