@model mvc.Models.Profil

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Profil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfilId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
