@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<mvc.Models.UserSubscription>

@{
    ViewData["Title"] = Localizer["TitlePage"];
}

    <h1>@ViewData["Title"]</h1>

@if ((bool)ViewData["HasSubscription"])
{
<p>
    @Localizer["Subscriber"] @ViewData["FirstSubscriptionDate"]
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Date"]
                </th>
                <th>
                    @Localizer["Amount"]
                </th>
                <th>
                    @Localizer["SubscriptionType"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserSubscriptionsDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserSubscriptionsAmount) CHF
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subscriptions.SubscriptionName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<p>
    @Localizer["Free"]
</p>
<a class="btn btn-block btn-primary" asp-controller="Stripe" asp-action="Details" asp-route-subscriptionName="1 Mois">@Localizer["1Month"]</a>
<a class="btn btn-block btn-primary" asp-controller="Stripe" asp-action="Details" asp-route-subscriptionName="1 Année">@Localizer["1Year"]</a>
}


