@model IdentityServerAspNetIdentity.ViewModels.RegisterInput
@using IdentityServerAspNetIdentity.Models
<div class="signup-page">
    <div class="page-header">
        <h1>Sign Up</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">External Sign Up</h3>
                </div>

                <div class="panel-body">
                    @if (ViewData["error"] != null)
                    {
                        <div class="alert-danger">
                            <p>@ViewData["error"].ToString()</p>
                        </div>
                    }
                    <form asp-route="SignUpSend">
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input class="form-control" placeholder="Username" asp-for="UserName" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="PasswordHash"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="PasswordHash" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input type="email" class="form-control" placeholder="Email" asp-for="Email" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Firstname"></label>
                                    <input type="text" class="form-control" placeholder="Firstname" asp-for="Firstname" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input type="text" class="form-control" placeholder="LastName" asp-for="LastName" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Birthday"></label>
                                    <input type="date" class="form-control" placeholder="Birthday" asp-for="Birthday" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <select asp-for="countryCode" id="">
                                        <option data-countryCode="CH" value="CH">Switzerland (+41)</option>
                                        <optgroup label="Other countries">
                                            <option data-countryCode="DZ" value="DZ">Algeria (+213)</option>
                                            <option data-countryCode="AD" value="AD">Andorra (+376)</option>
                                            <option data-countryCode="AO" value="AO">Angola (+244)</option>
                                            <option data-countryCode="AI" value="AI">Anguilla (+1264)</option>
                                            <option data-countryCode="AG" value="AG">Antigua &amp; Barbuda (+1268)</option>
                                            <option data-countryCode="AR" value="AR">Argentina (+54)</option>
                                            <option data-countryCode="AM" value="AM">Armenia (+374)</option>
                                            <option data-countryCode="AW" value="AW">Aruba (+297)</option>
                                            <option data-countryCode="AU" value="AU">Australia (+61)</option>
                                            <option data-countryCode="AT" value="AT">Austria (+43)</option>
                                            <option data-countryCode="BE" value="BE">Belgium (+32)</option>
                                            <option data-countryCode="CA" value="CA">Canada (+1)</option>
                                            <option data-countryCode="CO" value="CO">Colombia (+57)</option>
                                            <option data-countryCode="CZ" value="CZ">Czech Republic (+42)</option>
                                            <option data-countryCode="DK" value="DK">Denmark (+45)</option>
                                            <option data-countryCode="FJ" value="FJ">Fiji (+679)</option>
                                            <option data-countryCode="FI" value="FI">Finland (+358)</option>
                                            <option data-countryCode="FR" value="FR">France (+33)</option>
                                            <option data-countryCode="GF" value="GF">French Guiana (+594)</option>
                                            <option data-countryCode="PF" value="PF">French Polynesia (+689)</option>
                                            <option data-countryCode="DE" value="DE">Germany (+49)</option>
                                            <option data-countryCode="IT" value="IT">Italy (+39)</option>
                                            <option data-countryCode="JM" value="JM">Jamaica (+1876)</option>
                                            <option data-countryCode="LI" value="LI">Liechtenstein (+417)</option>
                                            <option data-countryCode="LT" value="LT">Lithuania (+370)</option>
                                            <option data-countryCode="LU" value="LU">Luxembourg (+352)</option>
                                            <option data-countryCode="YT" value="YT">Mayotte (+269)</option>
                                            <option data-countryCode="MX" value="MX">Mexico (+52)</option>
                                            <option data-countryCode="NO" value="NO">Norway (+47)</option>
                                            <option data-countryCode="PT" value="PT">Portugal (+351)</option>
                                            <option data-countryCode="RE" value="RE">Reunion (+262)</option>
                                            <option data-countryCode="RO" value="RO">Romania (+40)</option>
                                            <option data-countryCode="RU" value="RU">Russia (+7)</option>
                                            <option data-countryCode="SZ" value="SZ">Swaziland (+268)</option>
                                            <option data-countryCode="SE" value="SE">Sweden (+46)</option>
                                            <!-- <option data-countryCode="CH" value="41">Switzerland (+41)</option> -->
                                            <option data-countryCode="GB" value="GB">UK (+44)</option>
                                            <option data-countryCode="US" value="US">USA (+1)</option>
                                        </optgroup>
                                    </select>
                                    <label asp-for="PhoneNumber"></label>
                                    <input type="tel" class="form-control" placeholder="PhoneNumber" asp-for="PhoneNumber" autocomplete="off">
                                </div>
                            </div>

                            <div class="panel-title">
                                <h4>Informations complémentaires</h4>
                            </div>

                            <div class="form-group">
                                <label asp-for="Sexeid">Sexe</label><br />
                                @foreach (Sex sexe in ViewData["sexes"] as List<Sex>)
                                {

                                    <input class="radio-inline" type="radio" class="form-control" asp-for="Sexeid" value="@sexe.SexeId">
                                    <label asp-for="Sexeid">@sexe.SexeName</label>
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="CorpulenceId">Corpulences</label><br />
                                @foreach (Corpulence corpulence in ViewData["corpulences"] as List<Corpulence>)
                                {
                                    <input class="radio-inline" type="radio" class="form-control" asp-for="CorpulenceId" value="@corpulence.CorpulenceId">
                                    <label asp-for="CorpulenceId">@corpulence.CorpulenceName</label>
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="SexualityId">Orientation sexuelle</label><br />
                                @foreach (Sexuality sexuality in ViewData["sexualities"] as List<Sexuality>)
                                {
                                    <input class="radio-inline" type="radio" class="form-control" asp-for="SexualityId" value="@sexuality.SexualityId">
                                    <label asp-for="SexualityId">@sexuality.SexualityName</label>
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="HairColorId">Couleur de cheveux</label><br />
                                @foreach (HairColor hairColor in ViewData["hairColors"] as List<HairColor>)
                                {
                                    <input class="radio-inline" type="radio" class="form-control" asp-for="HairColorId" value="@hairColor.HairColorId">
                                    <label asp-for="HairColorId">@hairColor.HairColorName</label>
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="HairSizeId">Taille des cheveaux</label><br />
                                @foreach (HairSize hairSize in ViewData["hairSizes"] as List<HairSize>)
                                {
                                    <input class="radio-inline" type="radio" class="form-control" asp-for="HairSizeId" value="@hairSize.HairSizeId">
                                    <label asp-for="HairSizeId">@hairSize.HairSizeName</label>
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="StyleId">Style vestimentaire</label><br />
                                @foreach (Style style in ViewData["styles"] as List<Style>)
                                {
                                    <input class="radio-inline" type="radio" class="form-control" asp-for="StyleId" value="@style.StyleId">
                                    <label asp-for="StyleId">@style.StyleName</label>
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="ReligionId">Religion</label><br />
                                @foreach (Religion religion in ViewData["religions"] as List<Religion>)
                                {
                                    <input class="radio-inline" type="radio" class="form-control" asp-for="ReligionId" value="@religion.ReligionId">
                                    <label asp-for="ReligionId">@religion.ReligionName</label>
                                }
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="signup">Sign Up</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>