<partial name="PartAds" />
<div class="container">
    <div class="row">&nbsp;</div>
    <input type="hidden" id="userInput" value="@ViewData["Username"]" />
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/letschathub").build();

    //Disable send button until connection is established
    document.getElementById("sendButton").disabled = true;

    connection.on("ReceiveMessage", function (user, message) {
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        var encodedMsg = user + " dit " + msg;
        var li = document.createElement("li");
        li.textContent = encodedMsg;
        var eElement = document.getElementById("messagesList");
        eElement.insertBefore(li, eElement.firstChild);
    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
        // Enregistrer la connection dans le singleton
        var userConnection = connection.connectionId;
        var friendName = "@ViewData["friendname"]";
        var userName = "@ViewData["username"]";
        connection.invoke("AddConnection", userName, friendName, userConnection).catch(function (err) {
            return console.error(err.toString());
        });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var userConnection = connection.connectionId;
        var friendName = "@ViewData["friendname"]";
        var userName = "@ViewData["username"]";
        var message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", userName, friendName, message, userConnection).catch(function (err) {
            return console.error(err.toString());
            location.reload(); 
        });
        event.preventDefault();
    });

</script>