@model mvc.ViewModels.SpotifyInput
@using mvc.ViewModels
@{
    ViewData["Title"] = "Spotify";
}

<h1>Spotify</h1>
<hr />

<form asp-route="Spotify" method="post">
    <div class="form-group">
        @if (ViewData["categories"] != null)
        {
            <label asp-for="@Model.favoriteCategory">Vous aimez ?</label>
            <select asp-for="@Model.favoriteCategory" class="browser-default custom-select mb-4">
                @foreach (SpotifyItem item in ViewData["categories"] as List<SpotifyItem>)
                {
                    <option value="@item.id" selected>@item.name</option>
                }
            </select>

            <label asp-for="@Model.likeCategory">Vous aimez les gens qui écoute ?</label>
            <select asp-for="@Model.likeCategory" class="browser-default custom-select mb-4">
                @foreach (SpotifyItem item in ViewData["categories"] as List<SpotifyItem>)
                {
                    <option value="@item.id" selected>@item.name</option>
                }
            </select>

            <button type="submit" asp-action="SearchSong">Chercher des musiques</button>
        }
    </div>
</form>