@model mvc.ViewModels.UserChoiceViewModel
@{
    ViewData["Title"] = "Matching";
}
@{ 
    int? hairSizeId = null;
    int? hairColorId = null;
    int? religionId = null;
    int? corpulenceId = null;
    Preference pref = null;
    int? styleId = null;
}
<h1>Matching</h1>
<br />
@if (ViewData["PrefenresCheck"].Equals("error"))
{
    <div class="row">
        <p>Vous avez déjà enregistré vos préférences.</p>
        <div class="col-md-4">
            <form asp-route="Matching" method="post">
                <div class="form-group">
                    <button class="btn btn-primary" id="editPref" asp-action="UpdateProfil">Modifier mes préférences</button>
                </div>
            </form>
        </div>
    </div>
}
else
{

    if (ViewData["preferences"] != null)
    {
        pref = ViewData["preferences"] as Preference;

        hairSizeId = pref.PreferenceHairSizes.FirstOrDefault().HairSizeId;
        hairColorId = pref.PreferenceHairColors.FirstOrDefault().HairColorId;
        religionId = pref.PreferenceReligions.FirstOrDefault().ReligionId;
        corpulenceId = pref.PreferenceCorpulences.FirstOrDefault().CorpulenceId;
        styleId = pref.PreferenceStyles.FirstOrDefault().StyleId;
    }


    <div class="row">
        <div class="col-md-4">
            <form asp-route="Matching" method="post">
                <h4>Quel type de personnes cherchez vous?</h4>
                <hr />
                <input type="hidden" asp-for="@Model.UserName" value="@ViewData["username"]" />
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="@Model.CorpulenceId">Corpulence</label><br />
                    @foreach (Corpulence corpulence in ViewData["corpulences"] as List<Corpulence>)
                    {
                        if (corpulenceId != null && corpulence.CorpulenceId == corpulenceId)
                        {
                            <input asp-for="@Model.CorpulenceId" type="radio" value="@corpulence.CorpulenceId" checked>
                        }
                        else
                        {
                            <input asp-for="@Model.CorpulenceId" type="radio" value="@corpulence.CorpulenceId" />
                        }

                        <label asp-for="@Model.CorpulenceId">@corpulence.CorpulenceName</label><br />
                        <span asp-validation-for="@Model.CorpulenceId" class="text-danger"></span>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ReligionId">Religion</label><br />
                    @foreach (Religion religion in ViewData["religions"] as List<Religion>)
                    {
                        if (religionId != null && religion.ReligionId == religionId)
                        {
                            <input asp-for="@Model.ReligionId" type="radio" value="@religion.ReligionId" checked>
                        }
                        else
                        {
                            <input asp-for="@Model.ReligionId" type="radio" value="@religion.ReligionId" />
                        }

                        <label asp-for="@Model.ReligionId">@religion.ReligionName</label><br />
                        <span asp-validation-for="@Model.ReligionId" class="text-danger"></span>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="@Model.HairColorId"> Couleur de cheveux</label><br />
                    @foreach (HairColor hairColor in ViewData["hairColor"] as List<HairColor>)
                    {
                        if (hairColorId != null && hairColor.HairColorId == hairColorId)
                        {
                            <input asp-for="@Model.HairColorId" type="radio" value="@hairColor.HairColorId" checked>
                        }
                        else
                        {
                            <input asp-for="@Model.HairColorId" type="radio" value="@hairColor.HairColorId" />
                        }
                        <label asp-for="@Model.HairColorId">@hairColor.HairColorName</label><br />
                        <span asp-validation-for="@Model.HairColorId" class="text-danger"></span>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="@Model.HairSizeId"> Taille de cheveux</label><br />

                    @foreach (HairSize hairSize in ViewData["hairSize"] as List<HairSize>)
                    {
                        if (hairSizeId != null && hairSize.HairSizeId == hairSizeId)
                        {
                            <input asp-for="@Model.HairSizeId" type="radio" value="@hairSize.HairSizeId" checked>
                        }
                        else
                        {
                            <input asp-for="@Model.HairSizeId" type="radio" value="@hairSize.HairSizeId" />
                        }

                        <label asp-for="@Model.HairSizeId">@hairSize.HairSizeName</label><br />
                        <span asp-validation-for="@Model.HairSizeId" class="text-danger"></span>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SexualityId"> Sexualité</label><br />
                    @foreach (Sexuality sexuality in ViewData["sexuality"] as List<Sexuality>)
                    {
                        if (pref != null && pref.SexualityId == sexuality.SexualityId)
                        {
                            <input asp-for="@Model.SexualityId" type="radio" value="@sexuality.SexualityId" checked>
                        }
                        else
                        {
                            <input asp-for="@Model.SexualityId" type="radio" value="@sexuality.SexualityId" />
                        }
                        <label asp-for="@Model.SexualityId">@sexuality.SexualityName</label><br />
                        <span asp-validation-for="@Model.HairSizeId" class="text-danger"></span>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="@Model.StyleId">Style</label><br />
                    @foreach (Style style in ViewData["styles"] as List<Style>)
                    {
                        if (styleId != null && style.StyleId == styleId)
                        {
                            <input asp-for="@Model.StyleId" type="radio" value="@style.StyleId" checked>
                        }
                        else
                        {
                            <input asp-for="@Model.StyleId" type="radio" value="@style.StyleId" />
                        }
                        <label asp-for="@Model.StyleId">@style.StyleName</label><br />
                        <span asp-validation-for="@Model.StyleId" class="text-danger"></span>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Age"></label>
                    @if (pref != null && pref.AgeMax != 0)
                    {
                        <input type="number" asp-for="@Model.Age" class="form-control" min="18" max="100" value="@pref.AgeMax"/>
                        <span asp-validation-for="@Model.Age" class="text-danger"></span>
                    }
                    else
                    {
                        <input type="number" asp-for="@Model.Age" class="form-control" min="18" max="100"/>
                        <span asp-validation-for="@Model.Age" class="text-danger"></span>
                    }

                </div>
                <div class="form-group">
                    @if (pref != null)
                    {
                        <button class="btn btn-primary" id="actionPref" asp-action="UpdatedProfil">Modifier</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" id="actionPref" asp-action="SaveProfil">Enregistrer</button>
                    }

                </div>
            </form>
        </div>
    </div>
}

